<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.letsGo.dao.mybatis.mapper.ProductMapper">

  <cache />

  <select id="getAllProducts" resultType="com.example.letsGo.domain.market.Product">
    SELECT
      PRODUCT_ID,
      PRODUCT_NAME,
      PRODUCT_TYPE,
      PRODUCT_IMG,
      PRODUCT_PRICE,
      PRODUCT_SELL_PRICE
    FROM PRODUCT
  </select>

  <select id="getDetailProduct" resultType="com.example.letsGo.domain.market.Product">
    SELECT
      *
    FROM PRODUCT
    WHERE PRODUCT_ID = #{productId}
  </select>

  <select id="getProductByProductType" resultType="com.example.letsGo.domain.market.Product">
    SELECT
      PRODUCT_ID,
      PRODUCT_NAME,
      PRODUCT_TYPE,
      PRODUCT_IMG,
      PRODUCT_PRICE,
      PRODUCT_SELL_PRICE
    FROM PRODUCT
    WHERE PRODUCT_TYPE = #{productType}
  </select>

  <select id="searchProductByName" resultType="Product">
    SELECT
      PRODUCT_ID,
      PRODUCT_NAME,
      PRODUCT_TYPE,
      PRODUCT_IMG,
      PRODUCT_PRICE,
      PRODUCT_SELL_PRICE
    FROM PRODUCT
    WHERE lower(PRODUCT_NAME) LIKE '%' || LOWER(#{keyword}) || '%'
  </select>

  <select id="searchProductByType" resultType="Product">
    SELECT
      PRODUCT_ID,
      PRODUCT_NAME,
      PRODUCT_TYPE,
      PRODUCT_IMG,
      PRODUCT_PRICE,
      PRODUCT_SELL_PRICE
    FROM PRODUCT
    WHERE PRODUCT_TYPE = #{productType}
  </select>
</mapper>