<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.letsGo.dao.mybatis.mapper.UserMapper">
    <insert id="save" parameterType="com.example.letsGo.domain.member.User">
        INSERT INTO Member (ADDRESS, ID, PASSWORD, GENDER, EMAIL, NAME, BIRTH, ISSALESMANAGER , PROFILE_PICTURE)
        VALUES (#{address}, #{id}, #{password}, #{gender}, #{email}, #{name}, #{birth}, #{isSalesManager} , #{profilePicture, jdbcType=VARCHAR})
    </insert>

    <select id="findById" parameterType="String" resultType="com.example.letsGo.domain.member.User">
        SELECT * FROM Member WHERE ID = #{id}
    </select>

    <select id="findByUserId" parameterType="int" resultType="com.example.letsGo.domain.member.User">
        SELECT * FROM Member WHERE USER_ID = #{userId}
    </select>

    <select id="findByEmail" parameterType="string" resultType="com.example.letsGo.domain.member.User">
        SELECT * FROM Member WHERE EMAIL = #{email}
    </select>

    <select id="findByPassword" resultType="User">
        SELECT * FROM (
        SELECT * FROM Member WHERE PASSWORD = #{password}
        ) WHERE ROWNUM = 1
    </select>

    <!--<update id="update" parameterType="com.example.letsGo.domain.member.User">
        UPDATE Member SET NAME = #{name}, ADDRESS = #{address} WHERE ID = #{id}
    </update>-->

    <update id="update" parameterType="com.example.letsGo.domain.member.User">
        UPDATE Member SET NAME = #{name}, ADDRESS = #{address}, PROFILE_PICTURE = #{profilePicture, jdbcType=VARCHAR} WHERE ID = #{id}
    </update>
</mapper>
