<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.letsGo.dao.mybatis.mapper.UserMapper">
    <!--
    <select id="findById" parameterType="string" resultType="com.example.letsGo.domain.User">
        SELECT * FROM User WHERE id = #{id}
    </select>
    -->

</mapper>
