
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular', 'sans-serif';
}
body {
    font-size: 13pt;
    width: 100%;
}

#frame {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

#frame2 {
    border-bottom: solid 1px #e0e0eb;
    padding-bottom: 10px;
    padding-top: 20px;
}

.home {
    float: right;
}

table.calculation1 {
    clear: both;
    border: solid 1px #e0e0eb;
    border-collapse: collapse;
    background-color: #f5f5f0;
    width: 100%;
    font-size: 10pt;
}

table.calculation2 {
    border: solid 1px #e0e0eb;
    border-collapse: collapse;
    background-color: #f5f5f0;
    width: 100%;
    font-size: 10pt;
}

table.calculation1 th {
    border: solid 1px #e0e0eb;
    padding: 10px 0;
}

table.calculation1 td, table.calculation2 td {
    border: solid 1px #e0e0eb;
    text-align: center;
}

table.calculation2 th {
    border: solid 1px #e0e0eb;
}

.price {
    font-size: 20pt;
    font-weight: bold;
}

.li font {
    font-size: 10pt;
    color: gray;
}

.btn {
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}

.default {
    background-color: #fff;
    border: solid 1px gray;
    color: black;
}

.default:hover {
    background: #ddd;
}

.backBtn {
    background: #fff;
    border: solid 1px gray;
}

.btnfloat {
    float: left;
}

.btnfloat2 {
    float: right;
}

.clearboth {
    clear: both;
}

.footerbtn {
    float: right; font-weight: bolder;
    font-size: 12pt; border-radius: 3px;
}

#allProduct, #productClear, #footerbtn {
    padding: 11px 25px;
}

#allProduct {
    margin-left: 140px; background-color: #263d73; color: #fff;
    font-weight: bold; font-size: 12pt;
}

#productClear {
    background-color: gray;
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
}

.aa:hover {
    cursor: pointer;
}