.search {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding-top: 5px;
}
.search input{
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 15px;
  opacity: 0.5;
  outline: none;
}
.search img{
  position : absolute;
  width: 17px;
  top: 15px;
  right: 12px;
  margin: 0;
}