<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.letsgo.dao.mybatis.mapper.CartMapper">

  <cache />

  <!-- 모든 주문 조회 -->
  <select id="getAllOrders" resultType="Order">
    SELECT * FROM Order;
  </select>

  <!-- 특정 사용자의 주문 조회 -->
  <select id="getOrdersByUserId" resultType="Order" parameterType="int">
    SELECT * FROM Order WHERE userId = #{userId};
  </select>

  <!-- 주문 추가 -->
  <insert id="addOrder" parameterType="Order">
    INSERT INTO Order (orderId, userId, orderDate, ADDRESS, ADDRESS2, PHONE, REQ, PRODUCTCOUNT)
    VALUES (#{orderId}, #{userId}, #{orderDate}, #{address}, #{address2}, #{phone}, #{req}, #{PRODUCTCOUNT});
  </insert>

  <!-- 주문 정보 업데이트 -->
  <update id="updateOrder" parameterType="Order">
    UPDATE Order
    SET ? = #{?}
    WHERE orderId = #{orderId};
  </update>

  <!-- 주문 취소 -->
  <delete id="cancelOrder" parameterType="int">
    DELETE FROM order WHERE orderId = #{orderId};
  </delete>

</mapper>