<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<!-- 메뉴바 -->
<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li>
            <div th:if="${session == null}">
                <div style="text-align: center; margin-top: 50px;">
                    <p>로그인이 필요한 서비스입니다.</p>
                    <a th:href="@{/signin/signin}" class="btn btn-primary">로그인 하러 가기</a>
                </div>
            </div>
            <a th:href="@{/cart/list}" th:if="${session != null}"><i class="fa-solid fa-cat"></i>cart</a>
        </li>
        <li>
            <a href="#">wish</a>
        </li>
        <li>
            <div th:if="${session == null}">
                <div style="text-align: center; margin-top: 50px;">
                    <p>로그인이 필요한 서비스입니다.</p>
                    <a th:href="@{/signin/signin}" class="btn btn-primary">로그인 하러 가기</a>
                </div>
            </div>
            <a th:href="@{/market/manager}" th:if="${session != null}">go to manager's page</a>
        </li>
    </ul>
</aside>
</body>
</html>
