<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- 메뉴바 -->
    <aside class="side-bar">
      <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
          <div></div>
          <div></div>
          <div></div>
        </section>
      </section>
      <ul>
        <li>
          <a th:href="@{/market/cart}"><i class="fa-solid fa-cat"></i>cart</a>
        </li>
        <li>
          <a href="#">wish</a>
<!--          <ul>-->
<!--            <li><a href="#">text1</a></li>-->
<!--            <li><a href="#">text2</a></li>-->
<!--          </ul>-->
        </li>
        <li>
          <a th:href="@{/market/manager}">go to manager's page</a>
        </li>
      </ul>
    </aside>
</body>
</html>